<div class="container">
  <div class="row">
    <div class="col-1">
      <!-- <pre>{{form.value | json}}</pre> -->
    </div>
    <div class="col-10">
      <h2>User Settings</h2>

      <form
        [formGroup]="reactiveForm"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
      >
        <div class="form-group">
          <label for="name" class="style-bootstrap">Name (bootstrap)</label>
          <input
            id="name"
            class="form-control"
            type="text"
            formControlName="name"
            [ngClass]="{
              'field-error': isSubmitted && reactiveForm.get('name').invalid
            }"
          />

          <span
            *ngIf="
              reactiveForm.get('name').errors?.required && reactiveForm.dirty
            "
            class="notsuccess"
            >Enter name</span
          >
          <span
            *ngIf="
              !reactiveForm.get('name').errors?.required && reactiveForm.dirty
            "
            class="success"
            >Enter name</span
          >

          <div *ngIf="reactiveForm.get('name').dirty">
            <span
              [ngClass]="{
                notsuccess:
                  reactiveForm.get('name').errors?.minlength ||
                  reactiveForm.get('name').errors?.required,
                success: !reactiveForm.get('name').errors?.minlength
              }"
              >Name must be at least 3 characters long.</span
            >
          </div>

          <div *ngIf="reactiveForm.get('name').dirty">
            <span
              [ngClass]="{
                notsuccess:
                  reactiveForm.get('name').errors?.pattern ||
                  reactiveForm.get('name').errors?.required,
                success: !reactiveForm.get('name').errors?.pattern
              }"
              >Enter 1 Uppercase at least.</span
            >
          </div>

          <div *ngIf="reactiveForm.get('name').dirty">
            <span
              [ngClass]="{
                notsuccess: reactiveForm.get('name').valid
              }"
              >not success when valid && drity</span
            >
          </div>
          <small class="text-muted">
            {{ reactiveForm.get('name').valid | json }}
            {{ reactiveForm.get('name').errors | json }}<br />
            dirty: {{ reactiveForm.get('name').dirty }}
          </small>
        </div>
        <!-- <h3>{{ nameField.className }}</h3> -->
        <!-- <h3>dirty: {{ nameField.dirty }}</h3> -->
        <!-- <h3>pristine: {{ nameField.pristine }}</h3> -->
        <!-- <h3>touched: {{ nameField.touched }}</h3> -->
        <!-- <h3>untouched: {{ nameField.untouched }}</h3> -->
        <!-- <h3>valid: {{ nameField.valid }}</h3> -->
        <!-- <h3>invalid: {{ nameField.invalid }}</h3> -->

        <div class="form-group">
          <label for="startDate">Start Date</label>
          <input
            type="text"
            placeholder="Start Date"
            class="form-control"
            name="startDate"
            id="startDate"
            bsDaterangepicker
            formControlName="startDate"
          />
          <div
            [hidden]="!isSubmitted || reactiveForm.get('startDate').valid"
            class="alert alert-danger"
          >
            Enter a Start Date
          </div>
        </div>
        Start Date:

        <div class="form-group">
          <label for="startTime">Start Time</label>
          <timepicker name="startTime" formControlName="startTime"></timepicker>
          <div
            [hidden]="!isSubmitted || reactiveForm.get('startTime').valid"
            class="alert alert-danger"
          >
            Enter a Start Time
          </div>
        </div>
        Start Time:

        <div class="form-group pt-5">
          <label for="userRating">User Rating</label>
          <rating
            name="userRating"
            id="userRating"
            [titles]="['one', 'two', 'three']"
            formControlName="userRating"
          ></rating>
          <div
            [hidden]="!isSubmitted || reactiveForm.get('userRating').valid"
            class="alert alert-danger"
          >
            Enter a User Rating
          </div>
        </div>

        <div>
          <small class="text-muted">User Rating:</small>
          <button
            type="button"
            class="btn btn-primary"
            name="singleModel"
            btnCheckbox
            btnCheckboxTrue="On"
            btnCheckboxFalse="Off"
            formControlName="singleModel"
          ></button>
          <div
            [hidden]="!isSubmitted || reactiveForm.get('singleModel').valid"
            class="alert alert-danger"
          >
            Please push this button
          </div>
        </div>

        <div class="form-check form-group mt-4">
          <input
            id="emailOffers"
            name="emailOffers"
            class="form-check-input"
            type="checkbox"
            formControlName="emailOffers"
          />
          <label for="emailOffers" class="form-check-label style-bootstrap"
            >Email Special Offers (bootstrap)</label
          >
          <div
            [hidden]="!isSubmitted || reactiveForm.get('emailOffers').valid"
            class="alert alert-danger"
          >
            Please Select
          </div>
        </div>

        <p class="style-bootstrap">User Interface Style (bootstrap)</p>
        <div class="form-group">
          <div class="btn-group">
            <label
              class="btn btn-primary"
              name="interfaceStyle"
              btnRadio="Light"
              tabindex="0"
              role="button"
              formControlName="interfaceStyle"
              >Light</label
            >
            <label
              class="btn btn-primary"
              name="interfaceStyle"
              btnRadio="Medium"
              tabindex="0"
              role="button"
              formControlName="interfaceStyle"
              >Medium</label
            >
            <label
              class="btn btn-primary"
              name="interfaceStyle"
              btnRadio="Dark"
              tabindex="0"
              role="button"
              formControlName="interfaceStyle"
              >Dark</label
            >
            <div
              [hidden]="
                !isSubmitted || reactiveForm.get('interfaceStyle').valid
              "
              class="alert alert-danger"
            >
              Please Select
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="subscriptionType" class="style-bootstrap"
            >Subscription Type (bootstrap)</label
          >
          <select
            id="subscriptionType"
            name="subscriptionType"
            class="form-control"
            formControlName="subscriptionType"
          >
            <option></option>
          </select>
          <div
            [hidden]="
              !isSubmitted || reactiveForm.get('subscriptionType').valid
            "
            class="alert alert-danger"
          >
            Please Select
          </div>
        </div>

        <div class="form-group">
          <label for="notes" class="style-bootstrap">Notes (bootstrap)</label>
          <textarea
            id="notes"
            name="notes"
            class="form-control"
            rows="3"
            formControlName="notes"
          ></textarea>
          <div
            [hidden]="!isSubmitted || reactiveForm.get('notes').valid"
            class="alert alert-danger"
          >
            Please enter a note
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            id="password"
            class="form-control"
            type="password"
            name="password"
            formControlName="password"
          />
          <div
            [hidden]="!isSubmitted || reactiveForm.get('password').valid"
            class="alert alert-danger"
          >
            Please enter a password
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Send</button>
      </form>

      <br />
      <p class="text-muted">
        Value: {{ reactiveForm.value | json }} <br />
        Valid: {{ reactiveForm.valid }}
      </p>
    </div>
    <div class="col-1">
      <!-- <pre>{{form.value | json}}</pre> -->
    </div>
  </div>

  <!-- 
  {{ form.value | json}}
  
  <pre>{{ originalUserSettings.name | json}}</pre>
  <pre>{{ userSettings.name | json}}</pre> -->
</div>
