<div class="container">
    <div class=row>
      <div class="col-1">
          <!-- <pre>{{form.value | json}}</pre> -->
      </div>
  <div class=col-10>
      <h2>User Settings</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
  
      <!-- <div class="form-group">
        <label>Input Test</label>
  <input type="text" class="form-control" name="test" [(ngModel)]="userSettings.test">
      </div> -->
  
      <!-- //FIXME: use ngStyle or ngClass instead? -->
      <!-- <div class="form-group">
        <label for="name" class="style-bootstrap">Name (bootstrap)</label>
        <input id="name" name="name" class="form-control" type="text" [(ngModel)]="userSettings.name" required #nameField="ngModel" [ngStyle]="{'border-color':'red'}"> 
   
      </div>
      <div [hidden]="nameField.valid || !form.submitted" class="alert alert-danger">Enter a name</div> -->
  
      
      <div class="form-group">
        <label for="name" class="style-bootstrap">Name (bootstrap)</label>
        <input id="name" name="name" class="form-control" type="text" [(ngModel)]="userSettings.name" required
          #nameField="ngModel" (blur)="onBlur(nameField)" [class.field-error]="form.submitted && nameField.invalid">
        <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">Enter a name</div>
      </div>
  
      <!-- <h3>{{ nameField.className }}</h3> -->
      <!-- <h3>dirty: {{ nameField.dirty }}</h3> -->
      <!-- <h3>pristine: {{ nameField.pristine }}</h3> -->
      <h3>touched: {{ nameField.touched }}</h3>
      <!-- <h3>untouched: {{ nameField.untouched }}</h3> -->
      <!-- <h3>valid: {{ nameField.valid }}</h3> -->
      <h3>invalid: {{ nameField.invalid }}</h3>
  
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="text" placeholder="Start Date" class="form-control" [(ngModel)]="startDate" name="startDate"
          id="startDate" bsDaterangepicker>
      </div>
      Start Date: {{ startDate }}
  
      <div class="form-group">
        <label for="startTime">Start Time</label>
        <timepicker [(ngModel)]="startTime" name="startTime"></timepicker>
      </div>
      Start Time: {{ startTime }}
  
      <!-- //!-ngx-rating -->
      <div class="form-group pt-5">
        <label for="userRating">User Rating</label>
        <rating [(ngModel)]="userRating" [max]="maxRating" [readonly]="isReadonly" name="userRating" id="userRating"
          [titles]="['one','two','three']"></rating>
      </div>
      <small class="text-muted">User Rating: {{ userRating }}</small>
  
  
      <button type="button" class="btn btn-primary" name="singleModel" [(ngModel)]="singleModel" btnCheckbox
        btnCheckboxTrue="On" btnCheckboxFalse="Off">
        {{ singleModel }}
      </button>
  
      <div class="form-check form-group mt-4">
        <input id="emailOffers" name="emailOffers" class="form-check-input" type="checkbox"
          [(ngModel)]="userSettings.emailOffers">
        <label for="emailOffers" class="form-check-label style-bootstrap">Email Special Offers (bootstrap)</label>
      </div>
  
  
      <p class="style-bootstrap">User Interface Style (bootstrap)</p>
      <!-- <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" id="lightInterface" value="light" checked
            [(ngModel)]="userSettings.interfaceStyle">
          <label class="form-check-label" for="lightInterface">
            Light
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" id="mediumInterface" value="medium"
            [(ngModel)]="userSettings.interfaceStyle">
          <label class="form-check-label" for="mediumInterface">
            Medium
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" id="darkInterface" value="dark"
            [(ngModel)]="userSettings.interfaceStyle">
          <label class="form-check-label" for="darkInterface">
            Dark
          </label>
        </div>
      </div> -->
      <div class="form-group">
        <div class="btn-group">
          <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle" btnRadio="Light"
            tabindex="0" role="button">Light</label>
          <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle" btnRadio="Medium"
            tabindex="0" role="button">Medium</label>
          <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle" btnRadio="Dark"
            tabindex="0" role="button">Dark</label>
        </div>
      </div>
  
      <!-- <div class="form-group">
        <div class="btn-group">
          <button class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle" btnRadio="Light"
            tabindex="0">Light</button>
          <button class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle" btnRadio="Medium"
            tabindex="0">Medium</button>
          <button class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle" name="interfaceStyle" btnRadio="Dark"
            tabindex="0">Dark</button>
        </div>
      </div> -->
  
      <div class="form-group">
        <label for="subscriptionType" class="style-bootstrap">Subscription Type (bootstrap)</label>
        <select id="subscriptionType" name="subscriptionType" class="form-control"
          [(ngModel)]="userSettings.subscriptionType">
          <option *ngFor="let type of subscriptionTypes$ | async">{{ type }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="notes" class="style-bootstrap">Notes (bootstrap)</label>
        <textarea id="notes" name="notes" class="form-control" rows="3" [(ngModel)]="userSettings.notes"></textarea>
      </div>
  
      <div [hidden]="!postError" class="alert alert-danger">
        {{ postErrorMessage }}
      </div>
      <div *ngIf="postErrorMessageServer" class="alert alert-danger">
          {{ postErrorMessageServer }}
        </div>
  
      <!-- <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control" type="password" name="password">
      </div> -->
  
      <button class="btn btn-primary" type="submit">Send</button>
    </form>
  </div>
  <div class="col-1">
    <!-- <pre>{{form.value | json}}</pre> -->
  </div>
  
  </div>
  
  {{ form.value | json}}
  
  <pre>{{ originalUserSettings.name | json}}</pre>
  <pre>{{ userSettings.name | json}}</pre>