<div class="row">
    <div class="col-md-12">
        <h2>My Card</h2>
        <button class="btn btn-primary">
            Add Card
        </button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="https://www.citibank.ae/uae/consumer/credit_cards/images/cc/ek_ultima.png" class="rounded"
                        width="200px" alt="">
                    <div class="mt-1">CITIBANK</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="https://www.citibank.ae/uae/consumer/credit_cards/images/cc/ek_ultima.png" class="rounded"
                        width="200px" alt="">
                    <div class="mt-1">CITIBANK</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="https://www.citibank.ae/uae/consumer/credit_cards/images/cc/ek_ultima.png" class="rounded"
                        width="200px" alt="">
                    <div class="mt-1">CITIBANK</div>
                </a>
            </ul>
        </div>
    </div>
</div>