<div class="container">
  

    <nav class="navbar navbar-light bg-light mb-2">
        <a class="navbar-brand">All Products</a>
        <form class="form-inline">
          <button [routerLink]="['/product-add']" class="btn btn-outline-success my-2 my-sm-0" type="button">Add Product</button>
        </form>
      </nav>

  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">SKU</th>
        <th scope="col">Product</th>
        <th scope="col">Category</th>
        <th scope="col">Retail Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">324324</th>
        <th>
        <div class="media">
            <svg class="bd-placeholder-img mr-2 rounded" width="100" height="100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <div class="media-body pb-3 mb-0 lh-125">
              <div class="d-flex justify-content-between align-items-center w-100">
                iPhone 11 Pro Max
                
              </div>
              <!-- <span class="d-block">@username</span> -->
            </div>
          </div>
        </th>
        <td>Otto</td>
        <td>100.00</td>
        <td><button type="button" class="btn btn-outline-danger mr-3">Delete</button><button type="button" class="btn btn-outline-primary">Edit</button></td>
      </tr>
      <tr>
        <th scope="row">34234</th>
        <th><div class="media">
            <svg class="bd-placeholder-img mr-2 rounded" width="100" height="100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <div class="media-body pb-3 mb-0 lh-125">
              <div class="d-flex justify-content-between align-items-center w-100">
                iPhone 11 Pro Max
                
              </div>
              <!-- <span class="d-block">@username</span> -->
            </div>
          </div>
        </th>
        <td>Thornton</td>
        <td>100.00</td>
        <td><button type="button" class="btn btn-outline-danger mr-3">Delete</button><button type="button" class="btn btn-outline-primary">Edit</button></td>
      </tr>
    
      <tr>
        <th scope="row">324324</th>
      <th><div class="media">
            <svg class="bd-placeholder-img mr-2 rounded" width="100" height="100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <div class="media-body pb-3 mb-0 lh-125">
              <div class="d-flex justify-content-between align-items-center w-100">
                iPhone 11 Pro Max
                
              </div>
              <!-- <span class="d-block">@username</span> -->
            </div>
          </div>
          </th>
        <td>Thornton</td>
        <td>100.00</td>
        <td><button type="button" class="btn btn-outline-danger mr-3">Delete</button><button type="button" class="btn btn-outline-primary">Edit</button></td>
    
      </tr>
    </tbody>
  </table>
</div>